*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0.2rem solid green !important; 
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}
ul, li{
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Header */
nav{
    height: 12rem;
    width: 100%;
    background-color: white;
}
/* ~Header~ */

.topmenu__wrapper, .topmenu, .topmenu__items{
    height: 4rem;
    display: flex;
}

.topmenu__wrapper{
    width: 100%;
    border-bottom: 0.2rem solid rgba(0,0,0,0.1);
}

.topmenu{
    width: 50%;
    background: white;
    gap: 3rem;
    list-style: none;
    flex-wrap: wrap;    
}
.tmleft{
    justify-content: center;
}
.tmright{
    justify-content: center;
}

.topmenu__items{
   width: 6rem;
   justify-content: center;
   align-items: end;
   border-bottom: 0.2rem solid whitesmoke;
}

.topmenu__items:hover{
    border-bottom: 0.2rem solid #666666;
}

.topmenu__link{
    text-decoration: none;
    font-size: 75%;
    color: #333333;
}

.topmenu__link:hover{
    color: #666666;
}

/* MainMenu */

.mainmenu__wrapper, .mainmenu__wrapper > .logo__wrapper, .nav__wrapper, 
.search__wrapper, .login__wrapper {
    display: flex;
    height: 8rem;
    justify-content: center;
    align-items: center;
}


.mainmenu__wrapper{
    width: 100%;
    gap: 10rem;
    background-color: white;
}

.logo__img{
    width: 100%;
    height: 75%;
    border-radius: 50%;
}


.navigation{
    display: flex;
    list-style:none;
    width: 100%;
    height: 75%;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.navigation__item{
    padding: 2rem;
    height: 8rem;
}

.navigation__link{
    font-size: 3rem;
    text-decoration: none;
    color: #666666;
}

.navigation__link:hover{
    color: #333333;
}

.active{
    color: cornflowerblue;
    border-bottom: 0.5rem solid cornflowerblue;
}

/* ~Menu~ */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__img{
    object-fit: contain;
    height: calc(100vh - 12rem);

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}