*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*  border: 0.2rem solid green !important; */
}

a{
    text-decoration: none;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --invert: filter: none;
    --background-color: #ffffff;
    --font-color: #1a1a1a;
    --white: #f1f1f1;
    --hover-background-color: #f5f5f5;

    --hema--rood: #e81111;

    --hema--pink: #e30564;
    --hema--lightgreen: #50b848;
    --hema--green: #008a0a;
    --hema--purple: #9c1aff;
    --hema--indigo: #00838c;
    --hema--blue: #30b2c7;
    --hema--yellow: #f8c011;

}

body{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Oxygen", sans-serif;
    min-height: 100vh;
    font-size: 2rem;
    font-weight: 400;
}


/* Header */
nav{
    height: auto;
    background-color: var(--background-color);
    margin-bottom: 2rem;
}
/* ~Header~ */

/* Topmenu */

.topmenu__wrapper, .topmenu, .topmenu__items{
    display: flex;
}

.topmenu__wrapper{
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.4);
    background-color: var(--background-color);    
    padding: 0.5rem 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.topmenu{
    width: 64rem;
    background: var(--background-color);
    gap: 3rem;
    list-style: none;
    flex-wrap: wrap; 
}

/* Topmenu-left */
.tmleft{
    justify-content: flex-start;
}   

/* Topmenu-right */
.tmright{
    justify-content: flex-end;
}

.topmenu__items{
   width: auto;
   justify-content: center;
   align-items: end;
   border-bottom: 0.1rem solid var(--white);
   transition: 0.2s all;
}

.topmenu__items:hover{
    border-bottom: 0.1rem solid var(--font-color);
}

.topmenu__link{
    text-decoration: none;
    font-size: 70%;
    font-weight: 700;
    color: var(--font-color);
}

.topmenu__link:hover{
    color: slategray;
}

/* Topmenu */

/* SVG and icons */

.svg__icon{
    height: 2.5rem;
    width: 2.5rem;;
    fill: black;
    filter: var(--invert);
}

#searchicon{
    height: 2.1rem;
    width: 2.1rem;
}




/* MainMenu */

#dialog-container{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

#modal_example1{
    z-index: 10;
    justify-content: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    height: 20rem;
    width: 40%;
    gap: 2rem;
}

#dialog-btn-container{
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    gap: 5rem;
    justify-content: center;


}

.dialog-btn{
    height: 100%;
    width: 25%;
    outline: none;
    appearance: none;
    color: var(--background-color);
    border: none;
    border-radius: 1rem;
}

.dialog-btn:nth-of-type(1){
    background-color: var(--hema--green);
}

.dialog-btn:nth-of-type(2){
    background-color: var(--hema--rood);
}

.mainmenu__wrapper, .logo__wrapper, .nav__wrapper, 
.menubtn__wrapper, .search__wrapper {
    display: flex;
    min-height: auto;
    min-width: auto;
    justify-content: space-between;
    align-items: center;
}

.nav__wrapper{
    display: block;
    height: 6rem;
}

.logo__wrapper{
    justify-content: center;
}

.mainmenu__wrapper{
    max-width: 128rem;
    background-color: var(--background-color);
    padding: 1.5rem 0;
    gap: 1rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menubtn__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menubtn__item{
    list-style-type: none;
    height: 4rem;
}

.menubtn__link{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem; 
    gap: 0.5rem;
    border-radius: 0.6rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    cursor: pointer;
    font-size: 70%;
    font-weight: 700;
    color: var(--font-color);
    background-color: var(--background-color);
}
.menubtn__link:hover{   
    background: var(--white);
}


.logo__link{    
    display: flex;
    height: 6rem;
    width: 6rem;
    justify-content: center;
    align-items: center;
}
.logo__img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

.navigation{
    display: flex;
    list-style:none;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.navigation__item{
    height: 100%;
    width: 100%;
}


.navigation__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #666666;
}

.navigation__link:hover{
    color: #333333; 
}

.active{
    color: cornflowerblue;
    border-bottom: 0.3rem solid cornflowerblue;
}

.search__wrapper{   
    width: 35%;
    height: 6rem;
    position: relative;
}

.search__bar{
    border-radius: 2rem;
    height: 4rem;
    width: 90%;
    background: var(--hover-background-color);
    border: none;
    text-indent: 2rem;
}

.search__bar:focus{
    outline: 0;
}

.search__bar:hover{
    background: var(--white);
}

.search--svg{
    position: absolute;
    right: 13%;
}

.dashboardHeader__node{
    -webkit-appearance: none; 
    appearance: none;
    width: 3rem;
    height: 2rem;
    background: var(--background-color);
    border: 0.2rem solid var(--font-color);
    border-radius: 5rem;
    position: relative;
}

.dashboardHeader__node::after{
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.2rem solid var(--font-color);
    background: var(--hover-background-color);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(40%, -50%);
    transition: 0.12s all;
}

.dashboardHeader__node:checked{
    background: var(--font-color);  
}

.dashboardHeader__node:checked::after{
    transform: translate(-70%, -50%);
}



/* ~Menu~ */

/*  Main  */
  
main{
    display: flex;
    flex-wrap: wrap;
    max-width: 128rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 8rem;
}

.main__heroimg--wrapper{
    width: 82.5%;
    object-fit: contain;
}

.hero__img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;

}

.hero__sectionwrapper{
    position: absolute;
    width: 35%;
    height: 50%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    color: var(--background-color);
    padding: 4rem;
    background-color: var(--hema--rood);
    right:0 ;
    border-radius: 1rem;
}


.hero__section--titel{
    height: 12rem;    
    font-size: 250%;
    font-weight: 700;
    display: block;

}

.hero__section--parag{
    height: 20%;
    font-size: 80%;
}

.hero__section--btnwrapper{
    height: 6rem;
    display: flex;
    align-items: end;
}

.hero__sectionbtn--link{
    height: 6rem;
    width: 100%;
    border: 0.3rem solid var(--background-color);
    border-radius: 1rem;
    text-decoration: none;
    background: none;
    color: var(--background-color);
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;  
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
}

.hero__sectionbtn--link:hover{
    background: var(--background-color);
    color: var(--font-color);
}

/* Offers headersection */

.offersheader__sectionwrapper{
    max-width: 128rem;
    height: auto;
    justify-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    display: flex;
    margin-bottom: 4rem;
}

.offersheader__wrapper{

    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
}

.offersheader__action--wrapper{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background-color: var(--hema--indigo);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--background-color);
    
}

.offersheader__section--titel{
    padding: 2rem 0;
}

.offersheader__section--parag{
    font-size: 80%;
}

.offersheader__sectionbtn--link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border: 0.2rem solid var(--background-color);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    color: var(--background-color);
}

.offersheader__figurewrapper{
    max-width: 60rem;
    height: 100%;
}

.offersheader__figurewrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}







/*Offers section*/


.offers__sectionwrapper{
    max-width: 128rem;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    margin-bottom: 4rem;
}


.offers__wrapper{
    max-width: 42rem;
    height: 70rem;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    border-radius: 1rem;
    
}

.offers--titel{
    width: 100%;
    color: var(--font-color);
    font-weight: 700;
    font-size: 150%;    

}



.offers__figurewrapper{
    width: 100%;
    height: 60%;

}

.offers__figurewrapper img{
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offers__action--wrapper{
    height: 40%;
    padding: 2.5rem;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

.offers__wrapper:nth-of-type(1){
    background-color: var(--hema--purple);
}

.offers__wrapper:nth-of-type(2){
    background-color: var(--hema--pink);
}

.offers__wrapper:nth-of-type(3){
    background-color: var(--hema--blue);
}

.offers__section--parag{
    font-size: 70%;
}


.offers__sectionbtn--link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background-color);
    height: 6rem;
    width: 6rem;
    border: 0.3rem solid var(--background-color);
    border-radius: 50%;
    font-size: 100%;
    position: absolute;
    bottom: 2.5rem;
    transition: 0.4s all;
}

.offers__sectionbtn--link:hover{
    background: var(--background-color);
    color: var(--font-color);
}

    


/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Category Main*/
.category--main
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;   
}

/* Product Styling*/

.productpage--main{
    gap: 2.66rem;

}

.product__wrapper{
    max-width: 30rem;
    height: 50rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem 0 var(--font-color);
    cursor: pointer;
}

.product__wrapper:hover .product__figurewrapper{
    background-color: var(--background-color);
}

.product__wrapper:hover .product__figurewrapper img {
    scale: 1.1;
}


.product__figurewrapper{
    width: 100%;
    height: 60%;
    background-color: var(--hover-background-color);
    transition: 0.5s all;
    border-radius: 0.5rem;
}



.product__figurewrapper img{
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.5s all;
}



.product__action--wrapper{
    height: 40%;
    padding: 2.5rem;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
}

.product__bottom--wrapper{
    display: flex;
    flex-direction: row;

}

.product__section--prijs{
    color: var(--font-color);
    font-weight: 400;

}

.product__section--titel{
    font-size: 85%;
    color: var(--font-color);   
}

.product__sectionbtn--link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    height: 5rem;
    width: 5rem;
    border-radius: 0.5rem;  
    font-size: 100%;
    position: absolute;
    bottom: 1.5rem;
    right: 2.5rem;
    transition: 0.1s all;
    background-color: var(--background-color);
    box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.2);
 }

 .product__sectionbtn--link:hover{
    background-color: var(--hema--yellow);
    border-radius: 50%;
 }

 h1{
    max-width: 128rem;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    padding: 2rem 0;  
 }


 /* filter styling */
 .inputs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 128rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .inputs > div{
    display: flex;
    align-items: center;
    width: 15rem;
  }

  .inputs > div > label:hover, input:hover{
    cursor: pointer;
  }

  .label{
    font-size: 110%;
  }

  .filter{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    appearance: none;
    -webkit-appearance: none;
    background: #eee;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5rem 0 rgba(0,0,0,0.4);
  }

  .filter:checked{
    background: var(--hema--rood);
  }
  .filter:checked ~ .label{
    text-decoration: underline;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2rem;
    border: 0.1rem solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  




@media screen and (max-width: 82rem){


    .topmenu__wrapper{
        display: none;
    }

    .mainmenu__wrapper {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
    }

    .navigation{
        gap: 2rem;
    }

    .search__wrapper{
        display: none;
    }

    .main__heroimg--wrapper {
        width: 100%;
    }

    .offers__sectionwrapper{
        justify-content: space-evenly   ;
    }

    .productpage--main{
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 76rem){


        
    .hero__sectionwrapper{
        height: 90%;
        width: 40%;
    }

}   


@media screen and (max-width: 37.5rem){


        
    .hero__sectionwrapper{
        display: none;
    }

}   

/*schrijf me een advertentie in een webshop voor een categorie nieuwe schoenen*/