*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: 0.2rem solid green !important; */
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --background-color: #ffebcd;
    --font-color: #1a1a1a;
}
body{

    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Oxygen", sans-serif;
    min-height: 100vh;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
}


/* Header */
nav{
    height: 20%;
    background-color: white;
}
/* ~Header~ */

.topmenu__wrapper, .topmenu, .topmenu__items{
    display: flex;
}

.topmenu__wrapper{
    border-bottom: 0.2rem solid rgba(0,0,0,0.1);
}

.topmenu{
    width: 50%;
    background: white;
    gap: 3rem;
    list-style: none;
    flex-wrap: wrap;    
}
.tmleft{
    justify-content: center;
}
.tmright{
    justify-content: center;
}

.topmenu__items{
   width: 6rem;
   justify-content: center;
   align-items: end;
   border-bottom: 0.2rem solid whitesmoke;
}

.topmenu__items:hover{
    border-bottom: 0.2rem solid #666666;
}

.topmenu__link{
    text-decoration: none;
    font-size: 75%;
    color: #333333;
}

.topmenu__link:hover{
    color: #666666;
}

/* MainMenu */

.mainmenu__wrapper, .mainmenu__wrapper > .logo__wrapper, .nav__wrapper, 
.search__wrapper, .login__wrapper{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}


.topmenu__wrapper, .mainmenu__wrapper {
    background-color: white;    
    padding: 0.5rem 0;
}

.logo__img{
    width: 100%;
    height: 50%;
}

.navigation{
    display: flex;
    list-style:none;
    width: 100%;
    height: 100%;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.navigation__item{
    padding: 2rem;
    height: 6rem;
}

.navigation__link{
    text-decoration: none;
    color: #666666;
}

.navigation__link:hover{
    color: #333333;
}

.active{
    color: cornflowerblue;
    border-bottom: 0.5rem solid cornflowerblue;
}

/* ~Menu~ */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__heroimg--wrapper{
    display: flex;
    width: 80%;
    height: 100%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.hero__img{
    height: 100%;
    width: 100%;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}